<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://swa-db-storage.documents.azure.com:443/" />
    <add key="PrimaryKey" value="pGl70C6I5rOAvIBBhzBH1ySZlpvBrnMUTPvF3w5ClUxSv4WwhrQoJqCttncHtJ821fy8wNiRtHPpACDbwfTjpg==" />
  </appSettings>
</configuration>